<h1 class="text-center">Create new cocktail</h1>


<div class="container mx-auto">
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "btn btn-success" %>
      <% end %>
</div>
<br>
<br>


<div class="d-flex justify-content-end">
<li><%= link_to "Back Home", cocktails_path, class: "btn btn-primary" %></li>
</div>
